{% extends "index.html" %}

{% block content %}
<article>
    <h1>{{ term.name }}</h1>
    <ul>
        {% for page in term.pages %}
        <li>
            <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" itemprop="page-date">{{ page.date | date(format="%F") }}</time> &middot;
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
