{% extends "index.html" %}

{% block content %}
<article class="page">
{% set data = load_data(path="content/nonposts/changelog.csv", format="csv") %}
    <h1 class="page-title">{{ page.title }}</h1>

    {{ page.content | safe }}

	<table>
		<tr>
			<th>Hash</th>
			<th>Date</th>
			<th>Summary</th>
		</tr>
		<tr>
		{% for c in data.headers %}
			<td>{{ c }}</td>
		{% endfor %}
		</tr>

		{% for r in data.records %}
		{% if loop.index0 < 10 or loop.last %}
		<tr>
			{% if loop.index0 == 9 %}
			<td></td>
			<td>&hellip;</td>
			<td></td>
			{% else %}
			{% for c in r %}
			<td>{{ c }}</td>
			{% endfor %}
			{% endif %}
		</tr>
		{% endif %}
		{% endfor %}
	</table>
</article>
{% endblock content %}

