{% extends "index.html" %}

{% block content %}
<article class="post">
    {% if page.extra.image %}
    {% if page.extra.image is starting_with("images/") %}
    {% set meta = get_image_metadata(path=page.extra.image) %}
    <img src="/{{ page.extra.image }}" alt="{{ page.title }}" width="{{ meta.width }}" height="{{ meta.height }}">
    {% else %}
        <img src="{{ page.extra.image }}" alt="{{ page.title }}">
    {% endif%}
    {% endif%}
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date(format="%Y-%m-%d") }}" itemprop="datePublished">{{ page.date | date(format="%Y-%m-%d") }}</time>
    {{ page.content | safe }}
    <section>
        {% if page.taxonomies.tags %}
        <h2>Tags</h2>
        <ul>
            {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if page.taxonomies.categories %}
        <h2>Category</h2>
        <ul>
            {% for category in page.taxonomies.categories %}
            <li><a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    <section>
		<p><a href="https://notbyai.fyi/"><img src="/images/Written-By-Human-Not-By-AI-Badge-white.svg" alt="Written by human, not by AI" height="42" width="131"/></a></p>
		<p>Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.</p>
    </section>
</article>
{% endblock content %}
